/* COPY AND PASTE FOR EVERY HTML PAGE */

html {
    background-color: white;
    font-family: sans-serif;
    font-size: 20px;
    padding-top: 30px;
    word-wrap: break-word;
    cursor: pointer;
}


/* Navigation Bar and Top of Webpage */

header.logo {
    float: left;
}

nav {
    text-align: right;
    font-variant-caps: all-small-caps;
    font-weight: bold;
    font-size: 25px;
    color: darkblue;
    background-color: white;
    padding-top: 55px;
    padding-bottom: 40px;
    vertical-align: baseline;
}

.navbar {
    padding-left: 10px;
    padding-right: 10px;
    color: darkblue;
    /* removes link underline */
    text-decoration-line: none;
}

/* keeps navbar dark blue */
.navbar:visited, .navbar:hover, navbar:active {
    color: inherit;
}

/* TEST DROP DOWN FUNCTION IN NAVBAR */
/* Styles Dropdown Button */
.dropbtn {
    font-variant-caps: all-small-caps;
    font-weight: bold;
    font-size: 25px;
    color: darkblue;
    padding: 16px;
    font-size: inherit;
    font-style: inherit;
    border: none;
    background-color: white;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f4f5ff;
    min-width: 160px;
    box-shadow: 0px 8px 20px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: darkblue;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 20px;
}

/* Change color of dropdown links on hover and change the background color of the dropdown button when the dropdown content is shown */
.dropdown-content a:hover, .dropdown:hover .dropbtn {
    background-color: rgba(0, 0, 139, 0.15)}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* END OF TEST DROP DOWN FUNCTION IN NAVBAR */


/* Footer and Contents of Footer */

footer {
    font-family: "Franklin Gothic Medium", sans-serif;
    text-align: right;
    font-size: 18px;
    color: white;
    background-color: darkblue;
    /* This keeps the footer at the bottom of the browser */
    /* position: absolute; */
    right: 0;
    bottom: 0;
    left: 0;
    padding: 7px;   
    line-height: 20px;
}

b {
    font-size: 25px;
    font-style: bold;
}

p.years {
    text-align: left;
    float: top;
    line-height: 0px;
}

p.copyright {
    text-align: center;
    font-size: 15px;
    padding: -10px;
    line-height: 0px;
}

/* Holding Image for index.html aka Home page */
        
.office {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
        

/* Body of Webpage */

h1 {
    text-align: center;
    font-family: inherit;
    font-variant-caps: all-small-caps;
    font-size: 60px;
    color: darkblue;
}

main {
    padding-top; 0px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}

ul {
    list-style: square;
}