/* COPY AND PASTE FOR EVERY HTML PAGE */

html {
    background-color: white;
    font-family: sans-serif;
    font-size: 20px;
    padding-top: 30px;
    word-wrap: break-word;
}


/* Navigation Bar and Top of Webpage */

header.logo {
    float: left;
}

nav {
    text-align: right;
    font-variant-caps: all-small-caps;
    font-weight: bold;
    font-size: 25px;
    color: darkblue;
    background-color: white;
    padding-top: 55px;
    padding-bottom: 40px;
    vertical-align: baseline;
}

.navbar {
    padding-left: 10px;
    padding-right: 10px;
    color: darkblue;
    /* removes link underline */
    text-decoration-line: none;
}

/* keeps navbar dark blue */
.navbar:visited, .navbar:hover, navbar:active {
    color: inherit;
}


/* Footer and Contents of Footer */

footer {
    font-family: "Franklin Gothic Medium", sans-serif;
    text-align: right;
    font-size: 18px;
    color: white;
    background-color: darkblue;
    /* This keeps the footer at the bottom of the browser */
    /* position: absolute; */
    right: 0;
    bottom: 0;
    left: 0;
    padding: 7px;   
    line-height: 20px;
}

b {
    font-size: 25px;
    font-style: bold;
}

p.years {
    text-align: left;
    float: top;
    line-height: 0px;
}

p.copyright {
    text-align: center;
    font-size: 15px;
    padding: -10px;
    line-height: 0px;
}

/* Holding Image */
        
.office {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
        

/* Body of Webpage */

h1 {
    text-align: center;
    font-family: inherit;
    font-variant-caps: all-small-caps;
    font-size: 60px;
    color: darkblue;
}

main {
    padding-top; 0px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}

ul {
    list-style: square;
}